# Editors
/.idea
.vs/
Debug/
x64/
*.vcxproj
*.vcxproj.filters
*.user

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Adam/Adam.vcxproj
Adam/Adam.vcxproj.filters
CMakeLists.txt
cmake-build-debug/Makefile
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/feature_tests.cxx
cmake-build-debug/CMakeFiles/feature_tests.c
cmake-build-debug/CMakeFiles/feature_tests.bin
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/Adam.dir/progress.make
cmake-build-debug/CMakeFiles/Adam.dir/objects1.rsp
cmake-build-debug/CMakeFiles/Adam.dir/linklibs.rsp
cmake-build-debug/CMakeFiles/Adam.dir/link.txt
cmake-build-debug/CMakeFiles/Adam.dir/includes_CXX.rsp
cmake-build-debug/CMakeFiles/Adam.dir/flags.make
cmake-build-debug/CMakeFiles/Adam.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/Adam.dir/depend.make
cmake-build-debug/CMakeFiles/Adam.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/Adam.dir/build.make
cmake-build-debug/CMakeFiles/3.12.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.12.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.12.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.12.2/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.12.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.12.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.12.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.12.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/cmake_install.cmake
cmake-build-debug/Adam.cbp
cmake-build-debug/CMakeFiles/Adam.dir/CXX.includecache
cmake-build-debug/CMakeFiles/Adam.dir/depend.internal
cmake-build-debug/CMakeFiles/Progress/1
cmake-build-debug/CMakeFiles/Progress/2
cmake-build-debug/CMakeFiles/Progress/3
cmake-build-debug/CMakeFiles/Progress/4
cmake-build-debug/CMakeFiles/Progress/count.txt
Adam/Adam.vcxproj
Adam/Adam.vcxproj.filters
Adam/Adam.vcxproj.user
